/*still in progress*/
.nikored{
color:red;
}
.nikogreen{
color:green;
}
.nikobrown{
color:brown;
}
.nikoblue{
color:blue;
}
.button-one{
        display: inline-block;
        background-color: #7b38d8;
        border-radius: 10px;
        border: 2px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
}
.button-purple{
        display: inline-block;
        background-color: #ad38d8;
        border-radius: 10px;
        border: 2px double #cccccc;
        color:blue;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
}
.button-pink{
background-color:pink;
color:pink;
height:100px;
}
.button-red{
background-color:red;
color:red;
height:100px;
}
.button-blue{
background-color:blue;
color:blue;
height:100px;
}
.button-black{
background-color:black;
color:black;
height:100px;
}
